.popup__input{
    border: none;
    outline: none;
    padding: 0;
    min-height: 27px;
    min-width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    text-align: left;
}

@media screen and (max-width: 680px) {
    .popup__input{
        min-width: 238px;
    }
}