.profile{
    padding: 0 200px 50px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 1080px) {
    .profile{
        padding: 0 19px 36px 19px;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 680px) {
    .profile{
        gap: 0;
    }
}