.popup__content{
    display: flex;
    flex-direction: column;
    min-width: 430px;
    position: relative;
    min-height: 370px;
    justify-content: flex-end;
}

@media screen and (max-width: 680px) {
    .popup__content{
        min-width: fit-content;
    }
}