.card__image{
    display: block;
    width: 100%;
    min-height: 282px;
    max-height: 282px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}