.header{
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    align-items: flex-start;
    min-height: 74px;
    margin: 45px 200px 40px 200px;
}


@media screen and (max-width: 680px) {
    .header{
        margin: 0;
        min-height: 56px;
        width: 100%;
        margin-top: 28px;
        margin-bottom: 42px;
    }
}